extends layout

block body
  section(ng-controller='StoreController as store' )
    div(class="container")
      h2 {{"Hello Angular"}}
      table(class="table")
        thead
          tr
            th Name
            th Price
            th Purchase
            th Refund
            th Sold
        tbody
          tr(ng-repeat="gem in store.gems | orderBy:'-name'" class="product")
            td {{gem.name}}
            td {{gem.price | currency}}
            td
              button(ng-show="gem.canPurchase" ng-click="store.purchaseGem(gem.name)" class="btn") Add to cart
            th
              button(ng-show="gem.sold > 0" ng-click="store.refundGem(gem.name)" class="btn") Refund
            td {{gem.sold}}