extends layout

block body
  section(ng-controller='StoreController as store' )
    div(class="container")
      h2 {{"Hello Angular"}}
      table(class="table")
        thead
          tr
            th Name
            th Price
            th Purchase
            th Sold
        tbody
          tr(ng-repeat="gem in store.gems")
            td {{gem.name}}
            td {{gem.price | currency}}
            td
              button(ng-show="gem.canPurchase" ng-click="store.purchaseGem($index)" class="btn") Add to cart
            td {{gem.sold}}