extends layout

block body
    section(ng-controller='StoreController as store')
        div(class="container")

            div(class="row")
                h2(ng-bind="'Hello Angular' | case: 'upper'" class="pull-left")
                a(ng-href="{{store.link}}" target="_blank" class="pull-left")

            div(class="row" ng-repeat="gem in store.gems | orderBy:'name'" class="product" ng-show="!gem.soldOut")
                div(class="col-md-9")
                    h3(ng-bind="gem.name" ng-class="{red: !gem.canPurchase, blue: gem.canPurchase}")
                    h4(ng-bind="gem.price | currency")
                div(class="col-md-3")
                    h4(ng-bind="'Sold gems: ' + gem.sold")
                    div
                        button(ng-show="gem.canPurchase" ng-click="store.purchaseGem(gem)" class="btn pull-left") Add to cart
                        button(ng-show="gem.sold > 0" ng-click="store.refundGem(gem)" class="btn pull-left") Refund

                product-gallery(gem="gem")
                product-tab(gem="gem")