html(ng-app="gemStore")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/css/vendor.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block body
    script(src='js/minified/vendor.js')
    script(src='js/app.js')